<!DOCTYPE html>
<html lang="vi">
<head>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'MainWebApp/images/Icon.gif' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'MainWebApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'MainWebApp/css/_layout_.css' %}">
    <link rel="stylesheet" href="{% static 'MainWebApp/css/font-awesome.min.css' %}">
    <script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/jquery/jquery.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/functions/_layout_.js' %}"></script>
</head>
<body >
{% include "MainWebApp/widgets/loadingBackground.html" %}
{% include "MainWebApp/widgets/messagePopUp.html" %}
{% include "MainWebApp/widgets/staffLoginForm.html" %}
<div class="mainMenuBar">

    <div class="mainMenuBarContainer">
        <div class="mainMenuBarContainerDetails">
            <div class="hiddenBtn">
                <i class="fa fa-bars btnIconImg" style="margin:auto auto auto 0px;"></i>
            </div>
            <div class="logoSection">
                <a href="{% url 'home' %}" ><img src="{% static 'MainWebApp/images/logo.png' %}" ></a>
            </div>

            <div class="btnSection">
                <a class="btnSectionItem h3" href="{% url 'about' %}" >GIỚI THIỆU
                </a>
                <a class="btnSectionItem h3" href="{% url 'projects' %}" selected="false">CÔNG TRÌNH</a>
                <a class="btnSectionItem h3" href="{% url 'contact' %}" selected="false">LIÊN LẠC</a>
                <a class="btnSectionItem btnStaffLogin h3" ><i class="fa fa-user-o btnIconImg" style="margin:auto;"></i></a>
            </div>
        </div>

    </div>
</div>

 <div class="responsiveMainMenuBar">
     <div class="closeMenuBtnSection">
         <div class="closeMenuBtn">
             <i class="fa fa-close btnIconImg" style="margin:auto;"></i>
         </div>
     </div>

    <div class="btnSection">
         <a class="btnSectionItem h3" href="{% url 'about' %}" >GIỚI THIỆU</a>
        <a class="btnSectionItem h3" href="{% url 'projects' %}" selected="false">CÔNG TRÌNH</a>
        <a class="btnSectionItem h3" href="{% url 'contact' %}" selected="false">LIÊN LẠC</a>
        <a class="btnSectionItem btnStaffLogin h3" ><i class="fa fa-user-o btnIconImg" style="margin:auto;"></i></a>
    </div>
 </div>
<div class="mainContent">

  {% block content %}
    {% endblock %}

</div >
<div id="hiddenLayer" >

    </div>
{% include "MainWebApp/widgets/footer.html" %}
</body>
</html>