{% extends "MainWebApp/mainMenu.html" %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'MainWebApp/css/pages/about.css' %}">
<script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/functions/pages/about.js' %}"></script>
<div class="contentDetail">
    <div class="contentDetailTitle">
        <div>
            <h1 class="h1">VITAMINS NZ</h1>
        <h2 class="h2">SỨC KHOẺ LÀ QUYỀN LỢI KHÔNG PHẢI ĐẶC QUYỀN</h2>
        </div>

    </div>


    <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>

     <h1 class="h1">Vitamins NZ</h1>

     <p>Vitamins NZ được thành lập bởi ba người bạn thân đang sinh sống và làm việc tại New Zealand với mong muốn tột bậc cung cấp các sản phẩm vitamins và thực phẩm chức năng chính hãng của Úc và New Zealand tới người Việt Nam với giá tốt nhất.</p>
     <p>Để đảm bảo được giá cả tốt nhất cho khách hàng, Vitamins NZ là công ty kinh doanh online 100%.
         Về chất lượng, chúng tôi nhập trực tiếp tận tay từ các hãng dược phẩm và tự tay đóng gói gửi về cho các bạn.
         Các sản phẩm chủ đạo bao gồm thực phẩm chức năng (glucosamine, dầu cá, mật ong Manuka New Zealand, thuốc bổ tim, giải độc gan, detox cơ thể, siêu thực phẩm superfoods phòng chống ung thư...), mỹ phẩm hữu cơ tự nhiên và các sản phẩm khác.
         - Miễn phí giao hàng toàn quốc cho mọi đơn hàng trên 2 triệu VND.  - Cam kết hàng nội địa chính hãng nhập trực tiếp từ nhà sản xuất và phân tối tại New Zealand, đảm bảo chất lượng 100%.</p>

         <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>

              <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>

                   <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>

                        <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>

                             <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>

                                  <div class="aboutDetails" >

     <p>Tại Vitamins NZ chúng tôi tin rằng sức khỏe tốt là quyền lợi không phải là một đặc quyền.
         Chúng tôi làm việc chăm chỉ để cung cấp cho bạn các sản phẩm chăm sóc sức khỏe và làm đẹp tốt nhất ở New Zealand và Úc với mức giá hợp lý nhất có thể.</p>
 </div>

</div>


{% endblock %}