{% load staticfiles %}
<div class="footer">
    <div class="footerDetails">
        <div>
        <h4 class="h4">TRANG TRÍ NỘI THẤT ANH THƯ</h4>
        <p>Địa chỉ: 25 - 141. Nguyễn Huệ - TX. Gò Công - Tiềng Giang</p>
            <p>Giấy chứng nhận kinh doanh:  Số 123456789</p>
            <p>Chủ cơ sở: Lê Văn Hết, Biện Thị Hồng Thắm</p>
        </div>

        <div>
            <p>Copyright © 2018 by ATFurniture - All rights reserved.</p>
            <p>Powered by AVR Studio.</p>
        </div>
    </div>


</div>

<link rel="stylesheet" href="{% static 'MainWebApp/css/widgets/footer.css' %}">