{% load staticfiles %}
<div class="staffLoginForm modal" >
  <!-- Modal content -->
  <div class="staffLoginForm-content modal-content">
    <div class="staffLoginForm-header modal-header">
      <h2 class="h2">Đăng Nhập Cho Nhân Viên</h2>
    </div>
      <form id="staffLoginForm">
            {% csrf_token %}
            <div class="staffLoginForm-body modal-body">
                <div class="formLabel"><h4 class="h4">Tên đăng nhập<span style="color:#D95456">*</span></h4></div>
                <input type="text" name="loginName" value="{{ loginName }}" required
                    oninvalid="this.setCustomValidity('Xin vui lòng điền tên đăng nhập.')" oninput="setCustomValidity('')"
                       placeholder="Tên đăng nhập" ><br>
                <div class="formLabel"><h4 class="h4">Mật mã<span style="color:#D95456">*</span></h4></div>
                <input type="password" style="margin-bottom:30px" name="password" value="{{ password }}" required
                    oninvalid="this.setCustomValidity('Xin vui lòng điền mật mã.')" oninput="setCustomValidity('')"
                       placeholder="Mật mã"
                ><br>
    </div>

        </form>
<div class="staffLoginForm-footer modal-footer">
      <button class="submitBtn" type="submit" form="staffLoginForm" style="position:unset; background:#44A19F;" onclick="staffLoginForm_Submit()">Chấp Nhận</button>
      <button class="submitBtn" style="position:unset" onclick="staffLoginForm_Cancel()">Trở Về</button>
    </div>
  </div>

</div>

<link rel="stylesheet" href="{% static 'MainWebApp/css/widgets/staffLoginForm.css' %}">
<script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/functions/widgets/staffLoginForm.js' %}"></script>
