{% extends "MainWebApp/_layout_.html" %}

{% block content %}
<style>

div.gallery{
    animation: ZoomEffect 0.4s;
}


div.gallery img {
    width: 100% !important;
    height: auto !important;
    border-radius: 50%;
}

div.gallery img:hover {
    border-radius: 0px;
}

div.desc {
    padding: 15px !important;
    text-align: center !important;
}

* {
    box-sizing: border-box !important;
}

.responsive {
    padding: 20px !important;
    float: left !important;
    width: 24.99999% !important;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999% !important;
        margin: 6px 0 !important;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100% !important;
    }
}

.clearfix:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
}
</style>

{% load staticfiles %}
<div class="contentDetail">
    <h1 class="h1" style="padding-left: 30px;">Danh Mục Sản Phẩm</h1>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/1.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/1.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 1</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/3.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/3.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 2</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/4.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/4.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 3</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/2.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/2.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 4</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/11.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/11.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 5</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/12.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/12.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 6</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/19.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/19.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 7</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{% static 'MainWebApp/images/Samples/20.jpg' %}">
          <img src="{% static 'MainWebApp/images/Samples/20.jpg' %}" alt="Cinque Terre" width="300" height="200">
        </a>
        <div class="desc">Sản Phẩm 8</div>
      </div>
    </div>
</div>


{% endblock %}


