{% extends "MainWebApp/_layout_.html" %}

{% block content %}

{% load staticfiles %}
<div class="contentDetail">
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
    <h2 class="h2" >Trang Chủ</h2>
</div>

<script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/functions/pages/home.js' %}"></script>
{% endblock %}


