/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------COMMON USE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 20px) {

    .footer {
        bottom:0px;
        height:auto !important;
        width:100%;
        margin-top:30px;
        text-align: center;
        display:table;
        position: relative;
        top: 100px;
    }

    .footer > div{
        margin-top:30px;
        margin-bottom:30px;
    }
}



/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------RESPONSIVE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/*This style is for devices with screen width is from 1000px*/
/*Suitable devices are ipad pro and desktops*/

@media screen and (min-width: 1000px) {


}

/*This style is for devices with screen width is up to 999px*/
/*Suitable devices are tablets*/
@media screen and (max-width: 999px) {
    .footer {
        top: 72px;
    }
}

/*This style is for devices with screen width is up to 500px*/
/*Suitable devices are mobile phone*/
@media screen and (max-width: 500px) {

    .footer {
        top: 48px;
    }
}



