/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------COMMON USE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 20px) {
    .staffLoginForm-body input{
        width:100%;
    }
}



/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------RESPONSIVE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/*This style is for devices with screen width is larger than 1026px*/
/*Suitable devices are desktop or tablets in landscape mode 1026*/

@media screen and (min-width: 1000px) {


}


/*This style is for devices with screen width is up to 1025px*/
/*Suitable devices are tablets 1025*/
@media screen and (max-width: 999px) {


}

@media screen and (max-width: 500px) {

    .staffLoginForm-body input{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

}

/*@media screen and (max-width: 500px) {
    .contentDetail{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-height: 1023px) {
    .mainMenuBar{
        height: 1024px;
        overflow-y: auto;
        position: absolute;
    }

}*/

