/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------COMMON USE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 20px) {
    .staffLoginForm-body input{
        width:100%;
    }
}


/*This style is for devices with screen width is from 1000px*/
/*Suitable devices are ipad pro and desktops*/
@media screen and (min-width: 1000px) {

}

/*This style is for devices with screen width is up to 999px*/
/*Suitable devices are tablets*/
@media screen and (max-width: 999px) {

}

/*This style is for devices with screen width is up to 500px*/
/*Suitable devices are mobile phone*/
@media screen and (max-width: 500px) {
    .staffLoginForm-body input{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

