/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------COMMON USE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes ZoomEffect{
    from{transform:scale(0)}
    to{transform:scale(1)}
}

@-webkit-keyframes ZoomEffect{
    from{transform:scale(0)}
    to{transform:scale(1)}
}

@keyframes LeftEffect{
    from{left:-500px;opacity:0}
    to{left:0;opacity:1}
    }

@-webkit-keyframes LeftEffect{
    from{left:-500px;opacity:0}
    to{left:0;opacity:1}
    }

@keyframes SpinMotion {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes SpinMotion {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }



/*-------------------------------------------------------------STYLES SECTION--------------------------------------------------------------*/
*{
    font-family: sans-serif;
    color: #444;
    /*font-family: Candara;*/
            /*font-family: sans-serif;
            color: #444;*/
}

body{
        width: 100%;
        height: auto;
    }

body > div{
    display:block;
}

div{
    display:block;
    width: 100%;
    height: auto;
    z-index:0;
}
@media screen and (min-width: 20px) {

    .h1{font-size:36px !important;}
    .h2, .messagePopUp-header h2{font-size:30px !important;}
    .h3, .btnIconImg{font-size:24px !important;}
    .h4, input, textarea{font-size:20px !important;}
    .h5, p, .submitBtn {font-size:18px !important;}
    .h6{font-size:16px !important;}

    a, button, input, textarea{
        border-radius: 6px;
        padding: 10px;
    }

    input{
        height: 40px !important;
    }

    input, textarea{
        width: 100%;
        background: #f5f5f5;
        border-style: none;
    }

    ::placeholder{
        color: #9c9c9c !important;
        visibility:hidden;
    }

    .submitBtn{
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        color: white !important;
        position: relative;
        background: #D95456 !important;
        border: none;
        width:auto !important;
        height: 40px;
    }

    .modal, .loadingBackground, #hiddenLayer{
        position:fixed;
        width:100%;
        height:100%;
        background: #0000004a;
        z-index: 2;
        left: 0;
        top: 0;
        animation: ZoomEffect 0.5s;
        display:none;
    }

    .importantStar{
        color:#D95456 !important;
    }

    .mainMenuBar, .responsiveMainMenuBar, .footer {
        background: #f5f5f5;
    }

    /*style="background-color:#efefef;"*/
    .mainMenuBar, .responsiveMainMenuBar {
        z-index: 1;
        top: 0;
        height: 100px !important;
        left: 0;
    }

    .mainMenuBar{
        position:fixed;
    }

    .mainMenuBarContainer {
        z-index: 1 !important;
        top: 0;
        left: 0;
        position: absolute;
    }

    .mainMenuBarContainerDetails, .mainContent, .footerDetails {
        margin: auto;
        max-width: 1920px;
        padding: 0px 60px 0px 60px;
    }

    .hiddenBtn{
        display:none;
    }

    .logoSection{
        width: fit-content;
        display: inline-block;
    }

    .logoSection img{
        height: -webkit-fill-available;
    }

    .btnSection{
        width: auto;
        float: right;
        height: 100px;
    }

    .btnSectionItem, .btnSectionItem:hover{
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        line-height: 60px;
        display: inline-block;
        margin-top: 10px;
    }

    .btnSectionItem:hover, .btnSectionItemSelected{
        color:white;
    }

    .btnSectionItem:nth-child(1):hover, .btnSectionItemSelected:nth-child(1){
        background: #f4a35c;
    }

    .btnSectionItem:nth-child(2):hover, .btnSectionItemSelected:nth-child(2){
        background: #da5355;
    }

    .btnSectionItem:nth-child(3):hover, .btnSectionItemSelected:nth-child(3){
        background: #42a2a0;
    }

    .btnSectionItem:nth-child(4):hover i{
        color: #da5355;
    }

    .mainContent{
        position: relative;
        top: 100px;
    }

    .modal{
        padding-top: 120px;
    }


    .modal-content {
        position: relative;
        background-color: #ffffff00 !important;
        margin: auto;
        padding: 0;
        border: none;
        width: fit-content;
        box-shadow: 0 0px 0px 0 rgba(255,255,255,0),0 0px 0px 0 rgba(255,255,255,0);
    }


    .modal-header{
        background-color: #D95456 !important;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .modal-header h2{
        color: white !important;
    }

    .modal-body{
        background: white !important;
    }

    .modal-footer{
        background: white !important;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}


/*This style is for devices with screen width is from 1000px*/
/*Suitable devices are ipad pro and desktops*/
@media screen and (min-width: 1000px) {
    .responsiveMainMenuBar{
        display:none;
    }
}

/*This style is for devices with screen width is up to 999px*/
/*Suitable devices are tablets*/
@media screen and (max-width: 999px) {

    .h1, .hiddenBtn span, .closeMenuBtn {font-size:32px !important;}
    .h2, .messagePopUp-header h2{font-size:26px !important;}
    .h3, .btnIconImg{font-size:20px !important;}
    .h4, input, textarea, .buttonSection a{font-size:18px !important;}
    .h5, p, .submitBtn {font-size:14px !important;}
    .h6{font-size:12px !important;}

    .mainMenuBarContainerDetails .btnSection{
        display:none;
    }

    .mainMenuBar{
        height:72px !important;
    }

    .mainMenuBarContainerDetails{
        text-align:center;
    }

    .mainMenuBarContainerDetails, .mainContent, .footerDetails {
        padding: 0px 25px 0px 25px;
    }

    .hiddenBtn{
        display: grid;
        height: 72px;
        width: 72px;
        float: left;
        text-align: left;
    }

    .hiddenBtn span{
        margin-top: 15px;
    }

    .logoSection{
        margin-left:-72px;
    }
    #hiddenLayer{
        animation: LeftEffect 0.25s;
    }

    .responsiveMainMenuBar{
        display: none;
        z-index: 3 !important;
        width: 400px;
        height: 100% !important;
        border-radius: 6px;
        position: fixed;
        animation: LeftEffect 0.5s;
    }

    .closeMenuBtnSection{
        height:72px;
    }

    .btnSection{
        width:100%;
        height: auto !important;
    }

    .btnSectionItem{
        width: 100%;
        display: block;
        line-height: 72px;
        border-radius: 0px;
    }

    .closeMenuBtn{
        height: 100%;
        text-align: right;
        padding-right: 25px;
        line-height: 72px;
    }

    .mainContent{
        top: 72px;
    }
}

/*This style is for devices with screen width is up to 500px*/
/*Suitable devices are mobile phone*/
@media screen and (max-width: 500px) {

    .h1{font-size:30px !important;}
    .h2, .messagePopUp-header h2, .closeMenuBtn{font-size:24px !important;}
    .h3, .btnIconImg, .hiddenBtn span {font-size:18px !important;}
    .h4, input, textarea, .buttonSection a , .submitBtn  {font-size:16px !important;}
    .h5, p{font-size:12px !important;}
    .h6{font-size:10px !important;}

    ::placeholder{
        visibility:visible;
    }

    .formLabel{
        display:none;
    }

    .mainMenuBar{
        height:48px !important;
        position: absolute;
    }

    .mainMenuBarContainerDetails, .mainContent, .footerDetails {
        padding: 0px 10px 0px 10px;
    }

    .hiddenBtn{
        height: 48px;
        width: 48px;
    }

    .hiddenBtn span{
        margin-top: 12px;
    }

    .logoSection{
        margin-left:-48px;
    }

    .responsiveMainMenuBar{
        width: 100%;
        border-radius: 0px;
    }

    .closeMenuBtn{
        line-height: 48px;
    }

    .closeMenuBtnSection{
        height:48px;
    }

    .btnSectionItem{
        line-height: 48px;
    }

    .mainContent{
        top: 48px;
    }
}

